## Data Analysis with Python and Pandas

In [1]:
import pandas as pd
import datetime
import pandas_datareader.data as web

In [2]:
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2015, 8, 22)

df = web.DataReader("XOM", "yahoo", start, end)

df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2009-12-31  68.839996  68.860001  68.110001  68.190002  53.863396  18852300
2010-01-04  68.720001  69.260002  68.190002  69.150002  54.621700  27809100
2010-01-05  69.190002  69.449997  68.800003  69.419998  54.834965  30174700
2010-01-06  69.449997  70.599998  69.339996  70.019997  55.308914  35044700
2010-01-07  69.900002  70.059998  69.419998  69.800003  55.135132  27192100

In [4]:
# write DataFrame to csv for working offline

# df.to_csv("file_name.csv")