### Scorecard Automation

#### General Outline

- First find **offset**
- Check date
- Read tables one by one
- check for missing tables
- Check data in each tabel
- Check for missing data
- Check if charts exist
- Validate data with rnramd

___

**Write function to determine which sheet contains which data**

#### List of offsets

> Network Summary Heading : 3

> Bing O&O Core Browse:

---

**Make these global vars so that they can be changed anytime**

In [97]:
x_offsets = [0, 21, 29, 1, 19, 27, 35, -1, -1, -1, 1, -14, -14]

y_offsets = [6, 6, 6, 18, 18, 18, 18, -1, -1, -1, 61, 75, 89]
widths = [7, 7, 7, 5, 5, 5, 2, -1, -1, -1, 12, 25, 25]

extra_paddings = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 13, 13]

heights = [10, 10, 10, 8, 8, 8, 8, -1, -1, -1, 12, 12, 12]


# make this into a list for each adv table
max_allowable_perc_adv = 1000

segment_names = ['Strategic/Tier 1', 'Mid Market/Tier 2', 'Scale/Tier 3', 'Channel Partner']

if not(len(x_offsets) == len(y_offsets) == len(widths) == len(heights)):
    print ("Table metadata not consistent!")
    raise InterruptedError

#### RNRAMD Config Properties
---

Follow similar structure to NWSC

In [98]:
rnr_x_offsets = [0]

rnr_y_offsets = [60]
rnr_widths = [5]

rnr_extra_paddings = [0]

rnr_heights = [7]


# make this into a list for each adv table
rnr_max_allowable_perc_adv = 1000

rnr_segment_names = ['Strategic/Tier 1', 'Mid Market/Tier 2', 'Scale/Tier 3', 'Channel Partner']

if not(len(rnr_x_offsets) == len(rnr_y_offsets) == len(rnr_widths) == len(rnr_heights)):
    print ("Table metadata not consistent!")
    raise InterruptedError

#### Setting Development mode

In [99]:
import platform

print (platform.system())

dev_mode = platform.system()

if dev_mode == "Linux":
    root_path = "/media/shaunak/New Volume/my_projects/data science updated/python for data science/Scorecard Automate/data/"
elif dev_mode == "Windows":
    root_path = "D:/data_science-master/python for data science/Scorecard Automate/data/"

Windows

In [100]:
import openpyxl
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from matplotlib import style

import numpy as np

import quandl
import datetime

wb = openpyxl.load_workbook(filename=root_path + 'data.xlsx', 
                   read_only=True)
sheet_nw_sc = wb['Sheet4']

data_rows = []
for row in sheet_nw_sc['W10':'AC18']:
    data_cols = []
    for cell in row:
        data_cols.append(cell.value)
    data_rows.append(data_cols)

    
nw_sc_df = pd.DataFrame(data_rows)

nw_sc_df.set_index(0, inplace=True)

print (nw_sc_df)

"""
for row in sheet_nw_sc.iter_rows(min_row=21,min_col=23, max_col=30, max_row=25):
    for cell in row:
        print cell.value
"""


wb = openpyxl.load_workbook(filename=root_path + 'data.xlsx', 
                   read_only=True)
sheet_nw_sc = wb['Sheet6']

data_rows = []
for row in sheet_nw_sc['A74':'E80']:
    data_cols = []
    for cell in row:
        data_cols.append(cell.value)
    data_rows.append(data_cols)

    
nw_sc_df = pd.DataFrame(data_rows)

nw_sc_df.set_index(0, inplace=True)

print (nw_sc_df)

             1       2       3     4       5       6
0
oRPM     72.81 -0.0228 -0.0254  None  0.1085  0.1562
oPPC     92.5¢ -0.0106 -0.0194  None  0.0233  0.1022
oCY      0.079 -0.0123 -0.0061  None  0.0833  0.0490
oMLIY     0.56 -0.0251 -0.0093  None -0.0892 -0.1155
oVol     117mm -0.0219  0.0063  None  0.0200  0.0417
oRev   $8.52mm -0.0442 -0.0193  None  0.1306  0.2045
Rev    $8.55mm -0.0442 -0.0190  None  0.1327  0.1995
Vol      129mm -0.0437 -0.0092  None  0.0632  0.0795
RPM      66.52 -0.0005 -0.0099  None  0.0651  0.1111
                           1       2       3       4
0
NaN      2018-01-31 00:00:00  Δ01/24   ΔL4WA   Δ2017
RPM                    72.81 -0.0254 -0.0546  0.1085
CPC                    0.925 -0.0194 -0.0136  0.0233
CY                    0.0787 -0.0061 -0.0415  0.0832
MLIY                    0.57 -0.0091 -0.0557 -0.0904
Revenue          8.52451e+06 -0.0192 -0.0199  0.1306
Vol                117074587  0.0063  0.0367    0.02

#### Read in the file + determining offset

In [101]:
offset = 0

base_cell = 'W3'

network_sc_date_as_date = ""

workbook = openpyxl.load_workbook(filename = root_path + 'data3.xlsx', 
                   read_only=False)

network_sc_sheet = workbook['Sheet4']


print (network_sc_sheet.merged_cell_ranges)

first_heading = str(network_sc_sheet['W3'].value)



print (first_heading.strip('-'))


if first_heading is None or first_heading.split('-')[0].strip() != 'SEARCH BG SCORECARD':
    # print first_heading.split('-')[0].strip()
    print ("offset to be changed")
    
    first_heading = str(network_sc_sheet['W14'].value)
    
    if first_heading.split('-')[0].strip() == 'SEARCH BG SCORECARD':
        offset = 11
        print ("Offset changed")

['I115:BH115', 'B116:B117', 'I116:AM117', 'A12:A117', 'BI12:BI117', 'A118:BH118', 'AM71:BH71', 'Z72:BH72', 'B73:B86', 'I73:W86', 'B87:B100', 'B101:B114', 'B42:B45', 'C42:C45', 'C46:BH46', 'B47:B55', 'C47:H117', 'I56:BH56', 'B57:B69', 'I57:Y72', 'Z70:BH70', 'Z71:AL71', 'BG13:BH29', 'B18:B29', 'B30:B39', 'W30:W39', 'AO30:AO39', 'AW30:AW39', 'BE30:BE39', 'BH30:BH39', 'X12:Y12', 'Z12:AL12', 'AR12:AV12', 'AZ12:BD12', 'B13:B17', 'C13:V41', 'W41:BF41', 'BF31:BG31', 'I111:V111', 'I112:V112', 'I113:V113', 'I114:V114', 'D12:H12', 'I12:V12', 'I105:V105', 'I106:V106', 'I107:V107', 'I108:V108', 'I109:V109', 'I110:V110', 'I102:AG102', 'I103:X103', 'Y103:AA103', 'AB103:AD103', 'AE103:AG103', 'I104:V104', 'I96:V96', 'I97:V97', 'I98:V98', 'I99:V99', 'I100:V100', 'I101:V101', 'I90:V90', 'I91:V91', 'I92:V92', 'I93:V93', 'I94:V94', 'I95:V95', 'I87:V87', 'I88:AG88', 'I89:X89', 'Y89:AA89', 'AB89:AD89', 'AE89:AG89', 'AA65:AF65', 'AG65:AL65', 'Z62:AL62', 'Z63:AL63', 'X74:AI74', 'X75:Z75', 'AA75:AC75', 'AD75:AF75', 'AG75:AI75', 'K51:P51', 'Q51:V51', 'J47:U47', 'I49:U49', 'I50:I55', 'Z59:AF59', 'X31:AB31', 'AP31:AT31', 'AX31:BB31', 'E44:H44', 'E45:F45', 'G45:H45', 'BG40:BH41', 'W14:Y14', 'W15:Y15', 'W17:Y17', 'W19:AC19', 'AR19:AX19', 'AZ19:BF19', 'AQ18:AQ29', 'AY18:AY29']
None
offset to be changed
Offset changed

#### Offset changed at this step -- Move to separate function

#### Validating the date

In [102]:
def validate_date():
    global offset
    global base_cell
    global network_sc_sheet
    global network_sc_date_as_date
    # base cell = W3
    base_cell_num = int(base_cell[1:len(base_cell)])
    base_cell_num += offset
    
    cell_ref = base_cell[0] + str(base_cell_num)
    
    print (cell_ref)
    
    # Modifying the base cell
    
    base_cell = cell_ref
    
    first_heading = network_sc_sheet[cell_ref].value
    
    try:
        network_sc_date = first_heading.split('-')[1]
        network_sc_date = network_sc_date.strip()
        
        print (network_sc_date)
        
        network_sc_date_as_date = datetime.datetime.strptime(network_sc_date, "%B %d, %Y").date()
        
        # print network_sc_date_as_date
        
        current_date = datetime.date.today()
        
        # print datetime.date.today()
        
        # print network_sc_date_as_date + datetime.timedelta(days = 33) == datetime.date.today()
        
        days_lag = abs(current_date - network_sc_date_as_date).days
        
        if days_lag == 0:
            print ("Dates Validated!")
            return True
        else:
            print ("Scorecard is behind by: ", days_lag, "days")
            return False
        
    except IndexError:
        print ("There was some problem parsing the date")
        return False
    
validate_date()

W14
January 3, 2018
('Scorecard is behind by: ', 50, 'days')

False

#### Utility Fuction to get cell reference

In [103]:

def get_cell_ref(increment):
    global base_cell
    base_cell
    base_cell_int = int(base_cell[1:len(base_cell)])
    base_cell_int += increment
    new_cell_ref = base_cell[0] + str(base_cell_int)
    return new_cell_ref

get_cell_ref(3)

'W17'

#### Utility function to read in cells

In [104]:
def read_data(cell_ref):
    data = network_sc_sheet[cell_ref].value
    return data

#### Utility function to traverse cells

In [105]:
list_of_cols = []

for col in range(ord('A'), ord('Z')+1):
    list_of_cols.append(chr(col))

for col in range(ord('A'), ord('Z')+1):
    list_of_cols.append('A' + chr(col))
    
for col in range(ord('A'), ord('Z')+1):
    list_of_cols.append('B' + chr(col))
    
for col in range(ord('A'), ord('Z')+1):
    list_of_cols.append('C' + chr(col))
    
def traverse_cells(cell, incx, incy, mode=0):
    if mode == 0:
        # w3
        column_number = cell[0]
        row_number = int(cell[1:len(cell)])
    elif mode == 1:
        #ab1
        column_number = cell[0:2]
        row_number = int(cell[2:len(cell)])
        
    index_of_col = list_of_cols.index(column_number)
    index_of_col += incx
    new_col = list_of_cols[index_of_col]
    row_number += incy
    new_cell_ref = new_col + str(row_number)
    
    return new_cell_ref
    
    
    
traverse_cells('BZ1', 5, 28, 1)

'CE29'

#### Utility function to get a set of cells and return a pandas DF

In [106]:
def get_dataframe(start_cell, end_cell):
    data_rows = []
    for row in network_sc_sheet[start_cell: end_cell]:
        data_cols = []
        for cell in row:
            data_cols.append(cell.value)
        data_rows.append(data_cols)
    coverted_df = pd.DataFrame(data_rows) 
    return coverted_df

get_dataframe('AZ20', 'BF29')

         0                    1       2       3     4         5         6
0     None  2018-01-02 00:00:00  Δ01/01  Δ12/26  None     Δ2017     Δ2016
1      RPM                30.68  0.0107 -0.0505  None    0.1186    0.6015
2      PPC                53.6¢ -0.0123 -0.0816  None   -0.1081    0.1209
3       CY                0.057  0.0233  0.0339  None    0.2541    0.0206
4       IY                 3.41  0.0481  0.0269  None   -0.2203   -0.3808
5      Vol                 30mm  0.2145  0.1917  None   -0.1021    0.0199
6      Rev              $0.91mm  0.2275  0.1315  None    0.0044    0.6335
7    cCPAi                    *       *       *  None         *         *
8    rCPAi                    *       *       *  None         *         *
9  SP Disc               0.0069  0.02pp  0.08pp  None  -11.69pp  -14.26pp

In [107]:
def get_dataframe_rnr(start_cell, end_cell):
    data_rows = []
    for row in sheet_rnr_amd[start_cell: end_cell]:
        data_cols = []
        for cell in row:
            data_cols.append(cell.value)
        data_rows.append(data_cols)
    coverted_df = pd.DataFrame(data_rows) 
    return coverted_df

get_dataframe_rnr('A74', 'E80')

         0                    1       2       3       4
0     None  2018-01-31 00:00:00  Δ01/24   ΔL4WA   Δ2017
1      RPM                72.81 -0.0254 -0.0546  0.1085
2      CPC                0.925 -0.0194 -0.0136  0.0233
3       CY               0.0787 -0.0061 -0.0415  0.0832
4     MLIY                 0.57 -0.0091 -0.0557 -0.0904
5  Revenue          8.52451e+06 -0.0192 -0.0199  0.1306
6      Vol            117074587  0.0063  0.0367    0.02

#### Utility function to extract numeric value from character string

In [108]:
import types

def convert_to_numeric(number_str):
    print ("String in func:", number_str)
    
    
    if dev_mode == 'linux':
        if type(number_str) == type(b'mini'):
            number_str = number_str.decode()
    list_of_chars = list(str(number_str))
    
    first_num_index = -1
    
    was_int = 0
    
    last_num_index = len(list_of_chars)-1
    for x in range(0, len(list_of_chars)):
        try:
            char_as_num = int(list_of_chars[x])
            was_int = 1
        except ValueError:
            was_int = 0
        if was_int == 1:
            break
            
    first_num_index = x
    # print first_num_index
    
    was_char = 1
    
    for x in range(last_num_index, -1, -1):
        try:
            char_as_num = int(list_of_chars[x])
            was_char = 0
        except ValueError:
            last_num_index -= 1
            was_char = 1
        if was_char == 0:
            break
    last_num_index = x
    # print last_num_index
    
    if (last_num_index < first_num_index):
        return False
    else:
        return float("".join(list_of_chars[first_num_index: last_num_index+1]))
    
convert_to_numeric('93.4¢')

('String in func:', '93.4\xc2\xa2')

93.4

#### Base cell ref changed at this step -- Move to separate function

#### Dates validated

Check for Network Summary

#### Utility function to check missing and zero values in a list

#### Function to check 1st table data

> Make it resuable

In [109]:

def check_smart_pricing_data(first_table_df):
    
    # maybe date check should be done here
    
    # first_table_df[3][1] = 0
    # first_table_df[2][3] = '*'
    # first_table_df[2][4] = None
    
    # check for missing data

    # print first_table_df.columns

    for column_index in first_table_df.columns[1:]:
        column_values = first_table_df[column_index][1:].tolist()
        if check_missing_and_zero_values(column_values) is False:
            print ("Smart Pricing Data Missing")
            return False


    print ("Smart Pricing data ok")
    return True

**Note:** When we convert to utf-8 in python 3 it will get converted as a byte string!

In [110]:
import numbers

def check_missing_and_zero_values(column_list):
    for value in column_list:
        print (value)
        if isinstance(value, numbers.Number) is False:
            if value is None:
                print ("Missing values in First Table")
                return False
            else:

                # not a number 
                # maybe: '$#%$%'
                try:
                    length = len(value)
                    if length < 2:
                        print ("Missing values in First Table")
                        return False
                    else:
                        # problem here: what if u cant encode??
                        if dev_mode == 'Linux':
                            value = value.encode('utf-8')
                        else:
                            value = value.encode('utf-8')
                        if convert_to_numeric(value) is False:
                            print ("Missing values in First Table")
                            return False

                except:
                    print ("Unknown stuff in First Table")
                    return False
        else:
            # number
            number_as_float = float(value)
            if float(value) == 0.0:
                print ("Zero values in First Table")
                return False
                
    return True

In [111]:
def check_table_data(table_df, table_number):
    
    # maybe date check should be done here
    
    # first_table_df[3][1] = 0
    # first_table_df[2][3] = '*'
    # first_table_df[2][4] = None
    
    height_of_table = heights[table_number - 1]
    width_of_table = widths[table_number - 1]
    
    if table_df.shape == (height_of_table, width_of_table):
        
        # check for missing data
        
        if table_number!= 7:
            table_df.drop([4], axis = 1, inplace = True)
            # print first_table_df.columns
        
        for column_index in table_df.columns[1:]:
            column_values = table_df[column_index][1:].tolist()
            if check_missing_and_zero_values(column_values) is False:
                return False
    

        
        print ("Data ok for table number:", table_number)
        return True
        
    else:
        print ("Dimension of does not match for table number:", table_number)
        return False

In [112]:
def organic_metrics_validation(first_table_df):
    
    if first_table_df.shape == (10, 6):
        
        required_column = first_table_df[1][1:].tolist()
        print (required_column)
        
        organic_metrics = required_column[:6]
        non_organic_metrics = required_column[6:]
        
        oRev = organic_metrics[5]
        oVol = organic_metrics[4]
        Rev = non_organic_metrics[0]
        Vol = non_organic_metrics[1]
        
        print (oRev, oVol, Rev, Vol)
        
        # test case: oRev = 10.00
        
        oRev = convert_to_numeric(oRev)
        oVol = convert_to_numeric(oVol)
        Rev = convert_to_numeric(Rev)
        Vol = convert_to_numeric(Vol)
        
        print (oRev, oVol, Rev, Vol)
        
        if Rev < oRev or Vol < oVol:
            print ("Organic metrics greater than combined metrics which is not possible")
            return False
        
        return True
        
    else:
        print ("Dimension of First Table does not match")
        return False

#### Function for Network Summary First table

In [113]:
def network_summary_first_table():
    cell_ref = get_cell_ref(3)
    first_heading = str(read_data(cell_ref))
    # print first_heading
    
    if first_heading.strip() != 'NETWORK SUMMARY':
        print ("Cannot find heading: NETWORK SUMMARY")
        return False
    else:
        # all ok until now
        # try to find second heading
        
        second_heading = str(read_data(get_cell_ref(5)))
        if second_heading.strip() != 'Bing O&O Core Browse':
            print ("Cannot find heading: Bing O&O Core Browse")
            return False
        else:
            # read in the range of cells
            start_cell = get_cell_ref(6)
            # print start_cell
            
            end_cell = traverse_cells(start_cell, widths[0]-1, heights[0]-1, 0)
            # print end_cell
            
            network_summary_first_table_df = get_dataframe(start_cell, end_cell)
            
            
            network_summary_first_table_date = network_summary_first_table_df.loc[0][1]
            network_summary_first_table_date = datetime.datetime.date(network_summary_first_table_date)
            
            # print network_sc_date_as_date
            
            # print network_summary_first_table_date
            
            if (network_sc_date_as_date - network_summary_first_table_date).days == 1:
                print ("Dates validated in First Table")
                
                # check table data
                if check_table_data(network_summary_first_table_df, 1) is False:
                    return False
                
                if organic_metrics_validation(network_summary_first_table_df) is False:
                    return False
            
            else:
                print ("Dates not validated in First Table")
                return False
            
            print ("All ok in First Table!!")
            
            return True
    

network_summary_first_table()

Dates validated in First Table
81.58
93.4¢
('String in func:', '93.4\xc2\xa2')
0.087
0.65
104mm
('String in func:', '104mm')
$8.51mm
('String in func:', '$8.51mm')
$8.53mm
('String in func:', '$8.53mm')
117mm
('String in func:', '117mm')
72.95
0.0853
0.1635
-0.0672
-0.0183
0.5926
0.7284
0.7278
0.5902
0.0866
-0.041
0.0898
-0.1201
-0.0679
0.2321
0.1816
0.1809
0.2339
-0.043
0.1006
0.0412
0.0571
-0.0495
-0.028
0.0698
0.07
-0.0032
0.0724
0.1278
0.076
-0.2513
-0.0467
0.3034
0.47
0.4624
0.3307
0.0981
('Data ok for table number:', 1)
[81.58, u'93.4\xa2', 0.087, 0.65, u'104mm', u'$8.51mm', u'$8.53mm', u'117mm', 72.95]
(u'$8.51mm', u'104mm', u'$8.53mm', u'117mm')
('String in func:', u'$8.51mm')
('String in func:', u'104mm')
('String in func:', u'$8.53mm')
('String in func:', u'117mm')
(8.51, 104.0, 8.53, 117.0)
All ok in First Table!!

True

#### Check Nw Summary Second Table

In [114]:
def network_summary_second_table():
    
    cell_ref = traverse_cells(base_cell, x_offsets[1], y_offsets[1]-1, 0)
    second_heading = str(read_data(cell_ref))
    if second_heading.strip() != 'Yahoo O&O':
        print ("Cannot find heading: Yahoo O&O")
        return False
    else:
    
        # read in the range of cells
        start_cell = traverse_cells(base_cell, x_offsets[1], y_offsets[1], 0)

        end_cell = traverse_cells(base_cell, x_offsets[1] + widths[1] - 1, y_offsets[1] + heights[1] - 1, 0)

        network_summary_second_table_df = get_dataframe(start_cell, end_cell)
        network_summary_second_table_date = network_summary_second_table_df.loc[0][1]
        network_summary_second_table_date = datetime.datetime.date(network_summary_second_table_date)

        # print network_sc_date_as_date

        # print network_summary_first_table_date

        if (network_sc_date_as_date - network_summary_second_table_date).days == 1:
            print ("Dates validated in Second Table")

            # check table data
            if check_table_data(network_summary_second_table_df, 2) is False:
                return False

        else:
            print ("Dates not validated in Second Table")
            return False

        print ("All ok in Second Table!!")

        return True


network_summary_second_table()

Dates validated in Second Table
76.72
70.7¢
('String in func:', '70.7\xc2\xa2')
0.109
1.11
9mm
('String in func:', '9mm')
$0.65mm
('String in func:', '$0.65mm')
$3.18mm
('String in func:', '$3.18mm')
55mm
('String in func:', '55mm')
57.68
0.1166
0.1282
-0.0102
0.0528
0.3286
0.4835
0.4307
0.2906
0.1085
-0.0125
0.0158
-0.0278
-0.0001
0.1989
0.1839
0.159
0.1873
-0.0238
0.0351
0.0161
0.0186
0.1528
-0.2323
-0.2054
-0.0474
-0.1015
0.0593
-0.0876
-0.0803
-0.2914
0.2887
-0.093
-0.1724
0.0816
0.0917
-0.0103
('Data ok for table number:', 2)
All ok in Second Table!!

True

#### Check NW Summary Third Table (Smart Pricing)

In [115]:
def network_summary_third_table():
    
    cell_ref = traverse_cells(base_cell, x_offsets[2], y_offsets[2]-1, 0)
    second_heading = str(read_data(cell_ref))
    
    if second_heading.strip() != 'Yahoo Syndication':
        print ("Cannot find heading: Yahoo Syndication")
        return False
    else:
    
        # read in the range of cells
        start_cell = traverse_cells(base_cell, x_offsets[2], y_offsets[2], 0)

        end_cell = traverse_cells(base_cell, x_offsets[2] + widths[2] - 1, y_offsets[2] + heights[2] - 1, 0)
        
        print (start_cell, end_cell)

        network_summary_third_table_df = get_dataframe(start_cell, end_cell)
        network_summary_third_table_date = network_summary_third_table_df.loc[0][1]
        network_summary_third_table_date = datetime.datetime.date(network_summary_third_table_date)

        # print network_sc_date_as_date

        # print network_summary_first_table_date

        if (network_sc_date_as_date - network_summary_third_table_date).days == 1:
            print ("Dates validated in Third Table")

            # check table data
            if check_table_data(network_summary_third_table_df, 3) is False:
                if check_smart_pricing_data(network_summary_third_table_df) is False:
                    print ("Samrt Pricing Data not available")
                    return False
                else:
                    print ("Missing values in Third Table")
                    return False
        else:
            print ("Dates not validated in Third Table")
            return False

        print ("All ok in Third Table!!")

        return True


network_summary_third_table()

('AZ20', 'BF29')
Dates validated in Third Table
30.68
53.6¢
('String in func:', '53.6\xc2\xa2')
0.057
3.41
30mm
('String in func:', '30mm')
$0.91mm
('String in func:', '$0.91mm')
*
Missing values in First Table
30.68
53.6¢
('String in func:', '53.6\xc2\xa2')
0.057
3.41
30mm
('String in func:', '30mm')
$0.91mm
('String in func:', '$0.91mm')
*
Missing values in First Table
Smart Pricing Data Missing
Samrt Pricing Data not available

False

In [116]:
def network_summary_fourth_table():
    
    cell_ref = traverse_cells(base_cell, x_offsets[3], y_offsets[3]-1, 0)
    second_heading = str(read_data(cell_ref))
    
    print(second_heading)
    
    if second_heading.strip() != 'AOL O&O Guaranty (PC Only)':
        print ("Cannot find heading: AOL O&O Guaranty (PC Only)")
        return False
    else:
    
        # read in the range of cells
        start_cell = traverse_cells(base_cell, x_offsets[3], y_offsets[3], 0)

        end_cell = traverse_cells(base_cell, x_offsets[3] + widths[3] - 1, y_offsets[3] + heights[3] - 1, 0)
        
        print (start_cell, end_cell)

        network_summary_fourth_table_df = get_dataframe(start_cell, end_cell)
        network_summary_fourth_table_date = network_summary_fourth_table_df.loc[0][1]
        network_summary_fourth_table_date = datetime.datetime.date(network_summary_fourth_table_date)

        # print network_sc_date_as_date

        # print network_summary_first_table_date

        if (network_sc_date_as_date - network_summary_fourth_table_date).days == 1:
            print ("Dates validated in Fourth Table")

            # check table data
            if check_table_data(network_summary_fourth_table_df,4) is False:
                return False
        else:
            print ("Dates not validated in Fourth Table")
            return False

        print ("All ok in Fourth Table!!")

        return True


network_summary_fourth_table()

AOL O&O Guaranty (PC Only)
('X32', 'AB39')
Dates validated in Fourth Table
110.15
63.3¢
('String in func:', '63.3\xc2\xa2')
0.174
3.41
1.98
2.22mm
('String in func:', '2.22mm')
$0.24mm
('String in func:', '$0.24mm')
0.0703
0.0719
-0.0015
0.0222
0.0336
0.2937
0.3847
-0.0305
0.0294
-0.0582
-0.0104
-0.0002
0.1835
0.1475
('Data ok for table number:', 4)
All ok in Fourth Table!!

True

In [117]:
def network_summary_fifth_table():
    
    cell_ref = traverse_cells(base_cell, x_offsets[4], y_offsets[4]-1, 0)
    second_heading = str(read_data(cell_ref))
    
    print(second_heading)
    
    if second_heading.strip() != 'AOL O&O':
        print ("Cannot find heading: AOL O&O")
        return False
    else:
    
        # read in the range of cells
        start_cell = traverse_cells(base_cell, x_offsets[4], y_offsets[4], 0)

        end_cell = traverse_cells(base_cell, x_offsets[4] + widths[4] - 1, y_offsets[4] + heights[4] - 1, 0)
        
        print (start_cell, end_cell)

        network_summary_fifth_table_df = get_dataframe(start_cell, end_cell)
        network_summary_fifth_table_date = network_summary_fifth_table_df.loc[0][1]
        network_summary_fifth_table_date = datetime.datetime.date(network_summary_fifth_table_date)

        # print network_sc_date_as_date

        # print network_summary_first_table_date

        if (network_sc_date_as_date - network_summary_fifth_table_date).days == 1:
            print ("Dates validated in Fifth Table")

            # check table data
            if check_table_data(network_summary_fifth_table_df, 5) is False:
                return False
        else:
            print ("Dates not validated in Fifth Table")
            return False

        print ("All ok in Fifth Table!!")

        return True


network_summary_fifth_table()

AOL O&O
('AP32', 'AT39')
Dates validated in Fifth Table
93.65
63.5¢
('String in func:', '63.5\xc2\xa2')
0.148
3.07
1.74
3.03mm
('String in func:', '3.03mm')
$0.28mm
('String in func:', '$0.28mm')
0.107
0.077
0.0279
0.0397
0.055
0.242
0.3749
-0.0875
0.0288
-0.113
-0.0667
-0.0534
0.2501
0.1408
('Data ok for table number:', 5)
All ok in Fifth Table!!

True

In [118]:
def network_summary_sixth_table():
    
    cell_ref = traverse_cells(base_cell, x_offsets[5], y_offsets[5]-1, 0)
    second_heading = str(read_data(cell_ref))
    
    print(second_heading)
    
    if second_heading.strip() != 'AOL Syndication':
        print ("Cannot find heading: AOL Syndication")
        return False
    else:
    
        # read in the range of cells
        start_cell = traverse_cells(base_cell, x_offsets[5], y_offsets[5], 0)

        end_cell = traverse_cells(base_cell, x_offsets[5] + widths[5] - 1, y_offsets[5] + heights[5] - 1, 0)
        
        print (start_cell, end_cell)

        network_summary_sixth_table_df = get_dataframe(start_cell, end_cell)
        network_summary_sixth_table_date = network_summary_sixth_table_df.loc[0][1]
        network_summary_sixth_table_date = datetime.datetime.date(network_summary_sixth_table_date)

        # print network_sc_date_as_date

        # print network_summary_first_table_date

        if (network_sc_date_as_date - network_summary_sixth_table_date).days == 1:
            print ("Dates validated in Fifth Table")

            # check table data
            if check_table_data(network_summary_sixth_table_df, 6) is False:
                return False
        else:
            print ("Dates not validated in Fifth Table")
            return False

        print ("All ok in Fifth Table!!")

        return True


network_summary_sixth_table()

AOL Syndication
('AX32', 'BB39')
Dates validated in Fifth Table
48.14
26.4¢
('String in func:', '26.4\xc2\xa2')
0.182
2.65
1.67
1.28mm
('String in func:', '1.28mm')
$0.06mm
('String in func:', '$0.06mm')
-0.0176
0.0713
-0.0829
-0.06
0.0692
0.2003
0.1792
-0.1216
-0.1125
-0.0102
-0.0009
-0.0918
0.3366
0.1741
('Data ok for table number:', 6)
All ok in Fifth Table!!

True

In [119]:
def network_summary_seventh_table():
    
    cell_ref = traverse_cells(base_cell, x_offsets[6], y_offsets[6]-1, 0)
    second_heading = str(read_data(cell_ref))
    
    print(second_heading)
    
    if second_heading.strip() != 'AOL (O&O and Syndication)':
        print ("Cannot find heading: AOL Syndication")
        return False
    else:
    
        # read in the range of cells
        start_cell = traverse_cells(base_cell, x_offsets[6], y_offsets[6], 0)

        end_cell = traverse_cells(base_cell, x_offsets[6] + widths[6] - 1, y_offsets[6] + heights[6] - 1, 0)
        
        print (start_cell, end_cell)

        network_summary_seventh_table_df = get_dataframe(start_cell, end_cell)
        network_summary_seventh_table_date = network_summary_seventh_table_df.loc[0][1]
        network_summary_seventh_table_date = datetime.datetime.date(network_summary_seventh_table_date)

        # print network_sc_date_as_date

        # print network_summary_first_table_date

        if (network_sc_date_as_date - network_summary_seventh_table_date).days == 1:
            print ("Dates validated in Fifth Table")

            # check table data
            if check_table_data(network_summary_seventh_table_df, 7) is False:
                return False
        else:
            print ("Dates not validated in Seventh Table")
            return False

        print ("All ok in Seventh Table!!")

        return True


network_summary_seventh_table()

AOL (O&O and Syndication)
('BF32', 'BG39')
Dates validated in Fifth Table
80.1
50.73¢
('String in func:', '50.73\xc2\xa2')
0.1579
2.95
1.72
4.32mm
('String in func:', '4.32mm')
$0.35mm
('String in func:', '$0.35mm')
('Data ok for table number:', 7)
All ok in Seventh Table!!

True

> Network Summary In-place validation done

#### Advertiser Metrics Validation

- Check if each segment is there
- No missing values
- No 0 values in performing 1st 2 segments
- No abrubt % changes

Note: special chars might come up in Adv names

#### Utility Function: Custom Error Generation Message

In [120]:
def generate_error_message(table_number, column_number, adv_number):
    
    segment_number = int(((column_number+3)/3)-1)
    
    
    if (column_number+3)%3 == 0:
         
        print ("Check Segement: ", segment_names[segment_number], "Check Column: Customer, Advertiser Number:", adv_number)
    elif (column_number+3)%3 == 1:
        print ("Check Segement: ", segment_names[segment_number], "Check Column: Spend, Advertiser Number:", adv_number)
    else:
        print ("Check Segement: ", segment_names[segment_number], "Check Column: Spend WoW, Advertiser Number:", adv_number)
        
    return

In [121]:
import numbers

def check_missing_values(column_list, column_number, table_number):
    
    # Modify these functions to help know where EXACTLY error occured
    
    # Missing value in Customer:Adv no:5
    
    
    print ("Col list in func:", column_list)
    
    
    adv_number = 0
    for value in column_list:
        print (value)
        print (column_number, adv_number)
        if isinstance(value, numbers.Number) is False:
            if value is None:
                print ("Missing Value in Table Number:", table_number)
                generate_error_message(table_number, column_number, adv_number)
                return False
            else:
        
                try:
                    length = len(value)
                    if length < 2:
                        print ("Missing Value in Table Number:", table_number)
                        generate_error_message(table_number, column_number, adv_number)
                        return False
                except:
                    print ("Unknown Stuff in Table Number:", table_number)
                    return False
        adv_number += 1
                
    return True


import numbers

def check_zero_values(column_list, column_number, table_number):
    
    adv_number = 1
    for value in column_list:
        print (value)
        print (column_number, adv_number)
        if isinstance(value, numbers.Number) is False:
            
            # not a number: not possible
            print ("Advertiser Metric Spend should be numerical")
            generate_error_message(table_number, column_number, adv_number)
            return False
            
        else:
            # number
            number_as_float = float(value)
            if number_as_float == 0.0:
                print ("Zero value in First 2 Segemnts!")
                generate_error_message(table_number, column_number, adv_number)
                if table_number < 3:
                    return False
            
        adv_number += 1
                
    return True

def check_abrupt_values(column_list, column_number, table_number):
    
    adv_number = 1
    for value in column_list:
        print (value)
        if isinstance(value, numbers.Number) is False:
            
            # not a number: not possible
            print ("Advertiser Metric Spend WoW should be numerical")
            generate_error_message(table_number, column_number, adv_number)
            return False
            
        else:
            # number
            number_as_float = float(value)
            if number_as_float*100 > 200:
                print ("Spend WoW % > Allowable %:", max_allowable_perc_adv)
                generate_error_message(table_number, column_number, adv_number)
                
                # dont return False , just alert user
                # return False
            
        adv_number += 1
                
    return True



def validate_advertiser_metrics(adv_df, table_number):
    
    # check if each segement is there of not
    
    # test case: adv_df[0][0] = ""
    try:
        
        # get segment names
        
        first_segment = adv_df[0][0].strip()
        second_segment = adv_df[3][0].strip()
        third_segement = adv_df[6][0].strip()
        fourth_segment = adv_df[9][0].strip()
    
        print (first_segment, second_segment, third_segement, fourth_segment)

        # validate segment names
        
        if first_segment != segment_names[0] or second_segment != segment_names[1] or third_segement != segment_names[2] or fourth_segment != segment_names[3]:
            print ("Segment Names not matching in Advertiser Metrics Table Number:", table_number)
            return False
    except:
        print("Unknown stuff in Advertiser Metrics Table Number:", table_number)
        return False
    
    # check for misisng values for entire df
    
    for column_index in adv_df.columns:
            column_values = adv_df[column_index][1:].tolist()
            if check_missing_values(column_values, column_index, table_number) is False:
                return False
            
    # check for 0 values in first 2 segments
    
        # check for 0 value in spend
        # check for abrupt % change in Spend WoW
        
        
    # 1, 4, 

    
    
    for column_index in range(1, 5, 3):
        column_values = adv_df[column_index][2:].tolist()
        if check_zero_values(column_values, column_index, table_number) is False:
            return False
        
    # 2, 5, 8, 11
        
    for column_index in range(2, 12, 3):
        column_values = adv_df[column_index][2:].tolist()
        if check_abrupt_values(column_values, column_index, table_number) is False:
            return False
        
    
    return True

In [122]:
def top_spend_performing_advertisers():
    cell_ref = traverse_cells(base_cell, x_offsets[10], y_offsets[10]-1, 0)
    second_heading = str(read_data(cell_ref))
    
    print(second_heading)
    
    if second_heading.strip() != 'Top Spend Performing Customers':
        print ("Cannot find heading: Top Spend Performing Customers")
        return False
    else:
    
        # read in the range of cells
        start_cell = traverse_cells(base_cell, x_offsets[10], y_offsets[10], 0)

        end_cell = traverse_cells(base_cell, x_offsets[10] + widths[10] - 1, y_offsets[10] + heights[10] - 1, 0)
        
        print (start_cell, end_cell)

        top_spend_performing_advertisers_df = get_dataframe(start_cell, end_cell)
        
        # return top_spend_performing_advertisers_df
        
        if validate_advertiser_metrics(top_spend_performing_advertisers_df, 1) is False:
            return False
        return True

top_spend_performing_advertisers()

Top Spend Performing Customers
('X75', 'AI86')
(u'Strategic/Tier 1', u'Mid Market/Tier 2', u'Scale/Tier 3', u'Channel Partner')
('Col list in func:', [u'Customer', u'Amazon Service LLC', u'Pfizer Inc Ny', u'Booking.com B.V.', u'Ford Motor Media', u'United Healthcare', u'Expedia POSu', u'JCP Media L.P.', u'HomeAdvisor, Inc.', u'AT & T', u'Petra Digital Inc'])
Customer
(0, 0)
Amazon Service LLC
(0, 1)
Pfizer Inc Ny
(0, 2)
Booking.com B.V.
(0, 3)
Ford Motor Media
(0, 4)
United Healthcare
(0, 5)
Expedia POSu
(0, 6)
JCP Media L.P.
(0, 7)
HomeAdvisor, Inc.
(0, 8)
AT & T
(0, 9)
Petra Digital Inc
(0, 10)
('Col list in func:', [u'Spend', 205455L, 128729L, 128231L, 113749L, 94048L, 87029L, 86409L, 85232L, 83455L, 81678L])
Spend
(1, 0)
205455
(1, 1)
128729
(1, 2)
128231
(1, 3)
113749
(1, 4)
94048
(1, 5)
87029
(1, 6)
86409
(1, 7)
85232
(1, 8)
83455
(1, 9)
81678
(1, 10)
('Col list in func:', [u'Spend WoW', 0.476, 0.0929, 0.24, -0.0128, 0.8907, 0.2695, 0.2051, 0.3823, 0.0659, -0.0246])
Spend WoW
(2, 0)
0.476
(2, 1)
0.0929
(2, 2)
0.24
(2, 3)
-0.0128
(2, 4)
0.8907
(2, 5)
0.2695
(2, 6)
0.2051
(2, 7)
0.3823
(2, 8)
0.0659
(2, 9)
-0.0246
(2, 10)
('Col list in func:', [u'Customer', u'Houzz Inc.', u'Selectcomfort.com', u'Natural Intelligence, Inc.', u'Ad Practitioners LLC', u'GoodRx', u'Capella University Corporate', u'Saatva, Inc', u'8982937 CANADA INC', u'Salt Branding', u'Keiser University.'])
Customer
(3, 0)
Houzz Inc.
(3, 1)
Selectcomfort.com
(3, 2)
Natural Intelligence, Inc.
(3, 3)
Ad Practitioners LLC
(3, 4)
GoodRx
(3, 5)
Capella University Corporate
(3, 6)
Saatva, Inc
(3, 7)
8982937 CANADA INC
(3, 8)
Salt Branding
(3, 9)
Keiser University.
(3, 10)
('Col list in func:', [u'Spend', 44689L, 40220L, 39551L, 28996L, 26640L, 25852L, 24398L, 22920L, 22413L, 20451L])
Spend
(4, 0)
44689
(4, 1)
40220
(4, 2)
39551
(4, 3)
28996
(4, 4)
26640
(4, 5)
25852
(4, 6)
24398
(4, 7)
22920
(4, 8)
22413
(4, 9)
20451
(4, 10)
('Col list in func:', [u'Spend WoW', 0.2297, 0.5239, 0.5725, 0.5047, 0.7908, 0.7552, 0.2451, 0.4372, 1.0896, 0.1935])
Spend WoW
(5, 0)
0.2297
(5, 1)
0.5239
(5, 2)
0.5725
(5, 3)
0.5047
(5, 4)
0.7908
(5, 5)
0.7552
(5, 6)
0.2451
(5, 7)
0.4372
(5, 8)
1.0896
(5, 9)
0.1935
(5, 10)
('Col list in func:', [u'Customer', u'position2', u'cmots', u'Banyan Hill Publishing', u'justkevid', u'Media Returns LLC', u'Movers Help Cnetral', u'TMX Finance LLC', u'Unique Loom, LLC', u'Ego Cogito SL', u'ConsumerTrack'])
Customer
(6, 0)
position2
(6, 1)
cmots
(6, 2)
Banyan Hill Publishing
(6, 3)
justkevid
(6, 4)
Media Returns LLC
(6, 5)
Movers Help Cnetral
(6, 6)
TMX Finance LLC
(6, 7)
Unique Loom, LLC
(6, 8)
Ego Cogito SL
(6, 9)
ConsumerTrack
(6, 10)
('Col list in func:', [u'Spend', 25790L, 23422L, 16174L, 11714L, 10546L, 10232L, 10048L, 9387L, 9192L, 8632L])
Spend
(7, 0)
25790
(7, 1)
23422
(7, 2)
16174
(7, 3)
11714
(7, 4)
10546
(7, 5)
10232
(7, 6)
10048
(7, 7)
9387
(7, 8)
9192
(7, 9)
8632
(7, 10)
('Col list in func:', [u'Spend WoW', 0.0243, 2.7029, 0.4783, 0.9742, 0.2191, 0.3107, 2.382, 0.2259, 0.4816, 0.5095])
Spend WoW
(8, 0)
0.0243
(8, 1)
2.7029
(8, 2)
0.4783
(8, 3)
0.9742
(8, 4)
0.2191
(8, 5)
0.3107
(8, 6)
2.382
(8, 7)
0.2259
(8, 8)
0.4816
(8, 9)
0.5095
(8, 10)
('Col list in func:', [u'Customer', u'Click Here Publishing', u'Atti Agency', u'The Moran Group', u'G5 Search Marketing', u'Arnold & Itkin LLP', u'Launch Digital Marketing', u'Prosper Marketplace, Inc.', u'Namely', u'International Rescue Committee', u'TSheets'])
Customer
(9, 0)
Click Here Publishing
(9, 1)
Atti Agency
(9, 2)
The Moran Group
(9, 3)
G5 Search Marketing
(9, 4)
Arnold & Itkin LLP
(9, 5)
Launch Digital Marketing
(9, 6)
Prosper Marketplace, Inc.
(9, 7)
Namely
(9, 8)
International Rescue Committee
(9, 9)
TSheets
(9, 10)
('Col list in func:', [u'Spend', 6671L, 5469L, 4093L, 3077L, 3023L, 2872L, 2753L, 2066L, 2048L, 2045L])
Spend
(10, 0)
6671
(10, 1)
5469
(10, 2)
4093
(10, 3)
3077
(10, 4)
3023
(10, 5)
2872
(10, 6)
2753
(10, 7)
2066
(10, 8)
2048
(10, 9)
2045
(10, 10)
('Col list in func:', [u'Spend WoW', 0.1607, 0.4699, -0.0498, 1.6855, 1.258, -0.1496, 0.8036, 0.4012, 0.2516, 0.3535])
Spend WoW
(11, 0)
0.1607
(11, 1)
0.4699
(11, 2)
-0.0498
(11, 3)
1.6855
(11, 4)
1.258
(11, 5)
-0.1496
(11, 6)
0.8036
(11, 7)
0.4012
(11, 8)
0.2516
(11, 9)
0.3535
(11, 10)
205455
(1, 1)
128729
(1, 2)
128231
(1, 3)
113749
(1, 4)
94048
(1, 5)
87029
(1, 6)
86409
(1, 7)
85232
(1, 8)
83455
(1, 9)
81678
(1, 10)
44689
(4, 1)
40220
(4, 2)
39551
(4, 3)
28996
(4, 4)
26640
(4, 5)
25852
(4, 6)
24398
(4, 7)
22920
(4, 8)
22413
(4, 9)
20451
(4, 10)
0.476
0.0929
0.24
-0.0128
0.8907
0.2695
0.2051
0.3823
0.0659
-0.0246
0.2297
0.5239
0.5725
0.5047
0.7908
0.7552
0.2451
0.4372
1.0896
0.1935
0.0243
2.7029
('Spend WoW % > Allowable %:', 1000)
('Check Segement: ', 'Scale/Tier 3', 'Check Column: Spend WoW, Advertiser Number:', 2)
0.4783
0.9742
0.2191
0.3107
2.382
('Spend WoW % > Allowable %:', 1000)
('Check Segement: ', 'Scale/Tier 3', 'Check Column: Spend WoW, Advertiser Number:', 7)
0.2259
0.4816
0.5095
0.1607
0.4699
-0.0498
1.6855
1.258
-0.1496
0.8036
0.4012
0.2516
0.3535

True

In [123]:
def top_spend_DoD_advertisers():
    cell_ref = traverse_cells(base_cell, x_offsets[11], y_offsets[11]-1, 0)
    second_heading = str(read_data(cell_ref))
    
    print(second_heading)
    
    if second_heading.strip() != 'Top Spend Day Over Day Gainers Customers':
        print ("Cannot find heading: Top Spend Day Over Day Gainers Customers")
        return False
    else:
    
        # read in the range of cell1
        start_cell = traverse_cells(base_cell, x_offsets[11], y_offsets[11], 0)

        end_cell = traverse_cells(base_cell, x_offsets[11] + widths[11] - 1, y_offsets[11] + heights[11] - 1, 0)
        
        print (start_cell, end_cell)

        top_spend_DoD_gainer_advertisers_df = get_dataframe(start_cell, end_cell)
        
        for x in range(1, extra_paddings[11]+1):
            del top_spend_DoD_gainer_advertisers_df[x]
        
        
        actual_width = widths[11] - extra_paddings[11]
        
        top_spend_DoD_gainer_advertisers_df.columns = list(range(actual_width))
        
        # we get the clean df at this stage
                
        if validate_advertiser_metrics(top_spend_DoD_gainer_advertisers_df, 2) is False:
            return False
        return True

top_spend_DoD_advertisers()

Top Spend Day Over Day Gainers Customers
('I89', 'AG100')
(u'Strategic/Tier 1', u'Mid Market/Tier 2', u'Scale/Tier 3', u'Channel Partner')
('Col list in func:', [u'Customer', u'Essence Digital Ltd.', u'United Healthcare', u'Progressive Casualty Insurance Com', u'Booking.com B.V.', u'State Farm Insurance', u'Amazon Service LLC', u'HomeAdvisor, Inc.', u'Lendingtree, LLC', u'Office Depot', u'Uline Inc.'])
Customer
(0, 0)
Essence Digital Ltd.
(0, 1)
United Healthcare
(0, 2)
Progressive Casualty Insurance Com
(0, 3)
Booking.com B.V.
(0, 4)
State Farm Insurance
(0, 5)
Amazon Service LLC
(0, 6)
HomeAdvisor, Inc.
(0, 7)
Lendingtree, LLC
(0, 8)
Office Depot
(0, 9)
Uline Inc.
(0, 10)
('Col list in func:', [u'Spend', 68022L, 94048L, 72616L, 128231L, 70356L, 205455L, 85232L, 55674L, 51153L, 54747L])
Spend
(1, 0)
68022
(1, 1)
94048
(1, 2)
72616
(1, 3)
128231
(1, 4)
70356
(1, 5)
205455
(1, 6)
85232
(1, 7)
55674
(1, 8)
51153
(1, 9)
54747
(1, 10)
('Col list in func:', [u'Spend WoW', 0.2632, 0.8907, 0.5003, 0.24, 1.3103, 0.476, 0.3823, 0.4905, -0.1012, 0.5032])
Spend WoW
(2, 0)
0.2632
(2, 1)
0.8907
(2, 2)
0.5003
(2, 3)
0.24
(2, 4)
1.3103
(2, 5)
0.476
(2, 6)
0.3823
(2, 7)
0.4905
(2, 8)
-0.1012
(2, 9)
0.5032
(2, 10)
('Col list in func:', [u'Customer', u'Natural Intelligence, Inc.', u'Capella University Corporate', u'Ad Practitioners LLC', u'GoodRx', u'Best Company', u'ezCater, Inc', u'Katch LLC', u'Audley Travel Group Limited', u'Excel Impact, LLC', u'Keiser University.'])
Customer
(3, 0)
Natural Intelligence, Inc.
(3, 1)
Capella University Corporate
(3, 2)
Ad Practitioners LLC
(3, 3)
GoodRx
(3, 4)
Best Company
(3, 5)
ezCater, Inc
(3, 6)
Katch LLC
(3, 7)
Audley Travel Group Limited
(3, 8)
Excel Impact, LLC
(3, 9)
Keiser University.
(3, 10)
('Col list in func:', [u'Spend', 39551L, 25852L, 28996L, 26640L, 13904L, 13068L, 19014L, 14716L, 10759L, 20451L])
Spend
(4, 0)
39551
(4, 1)
25852
(4, 2)
28996
(4, 3)
26640
(4, 4)
13904
(4, 5)
13068
(4, 6)
19014
(4, 7)
14716
(4, 8)
10759
(4, 9)
20451
(4, 10)
('Col list in func:', [u'Spend WoW', 0.5725, 0.7552, 0.5047, 0.7908, 7.9728, 0.1782, 0.548, 1.2771, 0.2921, 0.1935])
Spend WoW
(5, 0)
0.5725
(5, 1)
0.7552
(5, 2)
0.5047
(5, 3)
0.7908
(5, 4)
7.9728
(5, 5)
0.1782
(5, 6)
0.548
(5, 7)
1.2771
(5, 8)
0.2921
(5, 9)
0.1935
(5, 10)
('Col list in func:', [u'Customer', u'cmots', u'justkevid', u'Banyan Hill Publishing', u'Movers Help Cnetral', u'FAC', u'Penguin Leads', u'Globaltech Systems', u'Quick Travels Inc', u'WeddingWire', u'QuoteWizard'])
Customer
(6, 0)
cmots
(6, 1)
justkevid
(6, 2)
Banyan Hill Publishing
(6, 3)
Movers Help Cnetral
(6, 4)
FAC
(6, 5)
Penguin Leads
(6, 6)
Globaltech Systems
(6, 7)
Quick Travels Inc
(6, 8)
WeddingWire
(6, 9)
QuoteWizard
(6, 10)
('Col list in func:', [u'Spend', 23422L, 11714L, 16174L, 10232L, 7974L, 8281L, 6654L, 4625L, 4642L, 7577L])
Spend
(7, 0)
23422
(7, 1)
11714
(7, 2)
16174
(7, 3)
10232
(7, 4)
7974
(7, 5)
8281
(7, 6)
6654
(7, 7)
4625
(7, 8)
4642
(7, 9)
7577
(7, 10)
('Col list in func:', [u'Spend WoW', 2.7029, 0.9742, 0.4783, 0.3107, 1.7524, 0.3162, 0.3965, 0.7786, 0.1285, 0.4763])
Spend WoW
(8, 0)
2.7029
(8, 1)
0.9742
(8, 2)
0.4783
(8, 3)
0.3107
(8, 4)
1.7524
(8, 5)
0.3162
(8, 6)
0.3965
(8, 7)
0.7786
(8, 8)
0.1285
(8, 9)
0.4763
(8, 10)
('Col list in func:', [u'Customer', u'Click Here Publishing', u'Atti Agency', u'Arnold & Itkin LLP', u'Prosper Marketplace, Inc.', u'G5 Search Marketing', u'TSheets', u'Berry Network, Inc.', u'Officeworld.com', u'Namely', u'Len The Plumber, Inc'])
Customer
(9, 0)
Click Here Publishing
(9, 1)
Atti Agency
(9, 2)
Arnold & Itkin LLP
(9, 3)
Prosper Marketplace, Inc.
(9, 4)
G5 Search Marketing
(9, 5)
TSheets
(9, 6)
Berry Network, Inc.
(9, 7)
Officeworld.com
(9, 8)
Namely
(9, 9)
Len The Plumber, Inc
(9, 10)
('Col list in func:', [u'Spend', 6671L, 5469L, 3023L, 2753L, 3077L, 2045L, 1074L, 1908L, 2066L, 1028L])
Spend
(10, 0)
6671
(10, 1)
5469
(10, 2)
3023
(10, 3)
2753
(10, 4)
3077
(10, 5)
2045
(10, 6)
1074
(10, 7)
1908
(10, 8)
2066
(10, 9)
1028
(10, 10)
('Col list in func:', [u'Spend WoW', 0.1607, 0.4699, 1.258, 0.8036, 1.6855, 0.3535, 0.2044, 0.6256, 0.4012, 0.2167])
Spend WoW
(11, 0)
0.1607
(11, 1)
0.4699
(11, 2)
1.258
(11, 3)
0.8036
(11, 4)
1.6855
(11, 5)
0.3535
(11, 6)
0.2044
(11, 7)
0.6256
(11, 8)
0.4012
(11, 9)
0.2167
(11, 10)
68022
(1, 1)
94048
(1, 2)
72616
(1, 3)
128231
(1, 4)
70356
(1, 5)
205455
(1, 6)
85232
(1, 7)
55674
(1, 8)
51153
(1, 9)
54747
(1, 10)
39551
(4, 1)
25852
(4, 2)
28996
(4, 3)
26640
(4, 4)
13904
(4, 5)
13068
(4, 6)
19014
(4, 7)
14716
(4, 8)
10759
(4, 9)
20451
(4, 10)
0.2632
0.8907
0.5003
0.24
1.3103
0.476
0.3823
0.4905
-0.1012
0.5032
0.5725
0.7552
0.5047
0.7908
7.9728
('Spend WoW % > Allowable %:', 1000)
('Check Segement: ', 'Mid Market/Tier 2', 'Check Column: Spend WoW, Advertiser Number:', 5)
0.1782
0.548
1.2771
0.2921
0.1935
2.7029
('Spend WoW % > Allowable %:', 1000)
('Check Segement: ', 'Scale/Tier 3', 'Check Column: Spend WoW, Advertiser Number:', 1)
0.9742
0.4783
0.3107
1.7524
0.3162
0.3965
0.7786
0.1285
0.4763
0.1607
0.4699
1.258
0.8036
1.6855
0.3535
0.2044
0.6256
0.4012
0.2167

True

In [124]:
def top_spend_DoD_loser_advertisers():
    cell_ref = traverse_cells(base_cell, x_offsets[12], y_offsets[12]-1, 0)
    second_heading = str(read_data(cell_ref))
    
    print(second_heading)
    
    if second_heading.strip() != 'Top Spend Day Over Day Losers Customers':
        print ("Cannot find heading: Top Spend Day Over Day Losers Customers")
        return False
    else:
    
        # read in the range of cell1
        start_cell = traverse_cells(base_cell, x_offsets[12], y_offsets[12], 0)

        end_cell = traverse_cells(base_cell, x_offsets[12] + widths[12] - 1, y_offsets[12] + heights[12] - 1, 0)
        
        print (start_cell, end_cell)

        top_spend_DoD_loser_advertisers_df = get_dataframe(start_cell, end_cell)
        
        for x in range(1, extra_paddings[12]+1):
            del top_spend_DoD_loser_advertisers_df[x]
        
        
        actual_width = widths[12] - extra_paddings[12]
        
        top_spend_DoD_loser_advertisers_df.columns = list(range(actual_width))
        
        # we get the clean df at this stage
                        
        if validate_advertiser_metrics(top_spend_DoD_loser_advertisers_df, 3) is False:
            return False
        return True

top_spend_DoD_loser_advertisers()

Top Spend Day Over Day Losers Customers
('I103', 'AG114')
(u'Strategic/Tier 1', u'Mid Market/Tier 2', u'Scale/Tier 3', u'Channel Partner')
('Col list in func:', [u'Customer', u'Kia Motors America, Inc.', u'Samsung*', u'GM-Chevrolet', u'Hyundai Motor America', u'Lg Electronics U.S.A., Inc.', u'US Cellular', u'GM-Buick', u'Sony Pictures Theatrical', u'MetroPCS', u'Shutterfly Inc'])
Customer
(0, 0)
Kia Motors America, Inc.
(0, 1)
Samsung*
(0, 2)
GM-Chevrolet
(0, 3)
Hyundai Motor America
(0, 4)
Lg Electronics U.S.A., Inc.
(0, 5)
US Cellular
(0, 6)
GM-Buick
(0, 7)
Sony Pictures Theatrical
(0, 8)
MetroPCS
(0, 9)
Shutterfly Inc
(0, 10)
('Col list in func:', [u'Spend', 12903L, 25427L, 0L, 24213L, 10230L, 4337L, 0L, 2604L, 2962L, 10428L])
Spend
(1, 0)
12903
(1, 1)
25427
(1, 2)
0
(1, 3)
24213
(1, 4)
10230
(1, 5)
4337
(1, 6)
0
(1, 7)
2604
(1, 8)
2962
(1, 9)
10428
(1, 10)
('Col list in func:', [u'Spend WoW', -0.711, -0.8333, -1L, -0.3293, -0.6509, -0.5072, -1L, -0.7011, -0.8648, 0.9437])
Spend WoW
(2, 0)
-0.711
(2, 1)
-0.8333
(2, 2)
-1
(2, 3)
-0.3293
(2, 4)
-0.6509
(2, 5)
-0.5072
(2, 6)
-1
(2, 7)
-0.7011
(2, 8)
-0.8648
(2, 9)
0.9437
(2, 10)
('Col list in func:', [u'Customer', u"ALSAC/St. Jude Children's Research Hospital", u'BestReviews', u'The Smile Train', u'March of Dimes', u'Covenant House', u'Tristar', u'Compass Bank', u'Papa Johns', u"Dillard's", u'BSM'])
Customer
(3, 0)
ALSAC/St. Jude Children's Research Hospital
(3, 1)
BestReviews
(3, 2)
The Smile Train
(3, 3)
March of Dimes
(3, 4)
Covenant House
(3, 5)
Tristar
(3, 6)
Compass Bank
(3, 7)
Papa Johns
(3, 8)
Dillard's
(3, 9)
BSM
(3, 10)
('Col list in func:', [u'Spend', 6568L, 9129L, 2776L, 0L, 1489L, 11579L, 3692L, 3291L, 4862L, 61L])
Spend
(4, 0)
6568
(4, 1)
9129
(4, 2)
2776
(4, 3)
0
(4, 4)
1489
(4, 5)
11579
(4, 6)
3692
(4, 7)
3291
(4, 8)
4862
(4, 9)
61
(4, 10)
('Col list in func:', [u'Spend WoW', -0.5796, -0.0196, -0.1207, -1L, -0.5181, 0.5987, 0.2037, 0.2692, -0.3519, 1L])
Spend WoW
(5, 0)
-0.5796
(5, 1)
-0.0196
(5, 2)
-0.1207
(5, 3)
-1
(5, 4)
-0.5181
(5, 5)
0.5987
(5, 6)
0.2037
(5, 7)
0.2692
(5, 8)
-0.3519
(5, 9)
1
(5, 10)
('Col list in func:', [u'Customer', u'90octane', u'Genesis', u'World Wildlife Fund', u'Feed The Children', u'Green Bay Packers INC', u'USR Holdings INC', u'position2', u'uBiome', u'M+R', u'Gott Advertising'])
Customer
(6, 0)
90octane
(6, 1)
Genesis
(6, 2)
World Wildlife Fund
(6, 3)
Feed The Children
(6, 4)
Green Bay Packers INC
(6, 5)
USR Holdings INC
(6, 6)
position2
(6, 7)
uBiome
(6, 8)
M+R
(6, 9)
Gott Advertising
(6, 10)
('Col list in func:', [u'Spend', 1903L, 0L, 1139L, 133L, 538L, 15L, 25790L, 159L, 737L, 146L])
Spend
(7, 0)
1903
(7, 1)
0
(7, 2)
1139
(7, 3)
133
(7, 4)
538
(7, 5)
15
(7, 6)
25790
(7, 7)
159
(7, 8)
737
(7, 9)
146
(7, 10)
('Col list in func:', [u'Spend WoW', -0.3654, -1L, -0.7056, -0.5703, -0.6565, 1L, 0.0243, -0.8509, -0.0624, -0.5496])
Spend WoW
(8, 0)
-0.3654
(8, 1)
-1
(8, 2)
-0.7056
(8, 3)
-0.5703
(8, 4)
-0.6565
(8, 5)
1
(8, 6)
0.0243
(8, 7)
-0.8509
(8, 8)
-0.0624
(8, 9)
-0.5496
(8, 10)
('Col list in func:', [u'Customer', u'Korum Used Cars', u'International Rescue Committee', u'Burien Chevrolet', u'Penn National Gaming, Inc.', u'Akins Ford', u'Mathews Nissan AO', u'Classic Chevrolet Sugar Land', u'Culinary Depot', u'Chino Hills Ford_70002025', u'M13448 - Medical Waste Disposal'])
Customer
(9, 0)
Korum Used Cars
(9, 1)
International Rescue Committee
(9, 2)
Burien Chevrolet
(9, 3)
Penn National Gaming, Inc.
(9, 4)
Akins Ford
(9, 5)
Mathews Nissan AO
(9, 6)
Classic Chevrolet Sugar Land
(9, 7)
Culinary Depot
(9, 8)
Chino Hills Ford_70002025
(9, 9)
M13448 - Medical Waste Disposal
(9, 10)
('Col list in func:', [u'Spend', 47L, 2048L, 90L, 1287L, 52L, 52L, 266L, 109L, 10L, 59L])
Spend
(10, 0)
47
(10, 1)
2048
(10, 2)
90
(10, 3)
1287
(10, 4)
52
(10, 5)
52
(10, 6)
266
(10, 7)
109
(10, 8)
10
(10, 9)
59
(10, 10)
('Col list in func:', [u'Spend WoW', 0.9049, 0.2516, 0.6619, -0.1317, 1.8946, 11.1884, 1.2185, 7.9212, -0.0154, 1L])
Spend WoW
(11, 0)
0.9049
(11, 1)
0.2516
(11, 2)
0.6619
(11, 3)
-0.1317
(11, 4)
1.8946
(11, 5)
11.1884
(11, 6)
1.2185
(11, 7)
7.9212
(11, 8)
-0.0154
(11, 9)
1
(11, 10)
12903
(1, 1)
25427
(1, 2)
0
(1, 3)
Zero value in First 2 Segemnts!
('Check Segement: ', 'Strategic/Tier 1', 'Check Column: Spend, Advertiser Number:', 3)
24213
(1, 4)
10230
(1, 5)
4337
(1, 6)
0
(1, 7)
Zero value in First 2 Segemnts!
('Check Segement: ', 'Strategic/Tier 1', 'Check Column: Spend, Advertiser Number:', 7)
2604
(1, 8)
2962
(1, 9)
10428
(1, 10)
6568
(4, 1)
9129
(4, 2)
2776
(4, 3)
0
(4, 4)
Zero value in First 2 Segemnts!
('Check Segement: ', 'Mid Market/Tier 2', 'Check Column: Spend, Advertiser Number:', 4)
1489
(4, 5)
11579
(4, 6)
3692
(4, 7)
3291
(4, 8)
4862
(4, 9)
61
(4, 10)
-0.711
-0.8333
-1
-0.3293
-0.6509
-0.5072
-1
-0.7011
-0.8648
0.9437
-0.5796
-0.0196
-0.1207
-1
-0.5181
0.5987
0.2037
0.2692
-0.3519
1
-0.3654
-1
-0.7056
-0.5703
-0.6565
1
0.0243
-0.8509
-0.0624
-0.5496
0.9049
0.2516
0.6619
-0.1317
1.8946
11.1884
('Spend WoW % > Allowable %:', 1000)
('Check Segement: ', 'Channel Partner', 'Check Column: Spend WoW, Advertiser Number:', 6)
1.2185
7.9212
('Spend WoW % > Allowable %:', 1000)
('Check Segement: ', 'Channel Partner', 'Check Column: Spend WoW, Advertiser Number:', 8)
-0.0154
1

True

#### Reading RNRAMD

In [125]:

wb = openpyxl.load_workbook(filename=root_path + 'data.xlsx', 
                   read_only=True)
sheet_rnr_amd = wb['Sheet6']

data_rows = []
for row in sheet_rnr_amd['A74':'E80']:
    data_cols = []
    for cell in row:
        data_cols.append(cell.value)
    data_rows.append(data_cols)

    
nw_sc_df = pd.DataFrame(data_rows)

nw_sc_df.set_index(0, inplace=True)

print (nw_sc_df)

                           1       2       3       4
0
NaN      2018-01-31 00:00:00  Δ01/24   ΔL4WA   Δ2017
RPM                    72.81 -0.0254 -0.0546  0.1085
CPC                    0.925 -0.0194 -0.0136  0.0233
CY                    0.0787 -0.0061 -0.0415  0.0832
MLIY                    0.57 -0.0091 -0.0557 -0.0904
Revenue          8.52451e+06 -0.0192 -0.0199  0.1306
Vol                117074587  0.0063  0.0367    0.02

#### Determining Offset for RNRAMD

In [126]:
offset_rnr = 0

base_cell_rnr = 'A14'


first_heading = str(sheet_rnr_amd[base_cell].value)


print(first_heading)

if first_heading is None or first_heading.split('-')[0].strip() != 'Bing O&O Core Organic (PC Browse & Tablet) Incl. Kindle':
    # print first_heading.split('-')[0].strip()
    print ("offset to be changed")
    
else:
    print("No need to change offset")

None
offset to be changed

In [127]:
def read_bing_rnr_table():
    start_cell = traverse_cells(base_cell_rnr, rnr_x_offsets[0], rnr_y_offsets[0], 0)

    end_cell = traverse_cells(base_cell_rnr, rnr_x_offsets[0] + rnr_widths[0] - 1, rnr_y_offsets[0] + rnr_heights[0] - 1, 0)

    print (start_cell, end_cell)

    rnr_bing_df = get_dataframe_rnr(start_cell, end_cell)
    
    return rnr_bing_df
    
    
read_bing_rnr_table()

('A74', 'E80')

         0                    1       2       3       4
0     None  2018-01-31 00:00:00  Δ01/24   ΔL4WA   Δ2017
1      RPM                72.81 -0.0254 -0.0546  0.1085
2      CPC                0.925 -0.0194 -0.0136  0.0233
3       CY               0.0787 -0.0061 -0.0415  0.0832
4     MLIY                 0.57 -0.0091 -0.0557 -0.0904
5  Revenue          8.52451e+06 -0.0192 -0.0199  0.1306
6      Vol            117074587  0.0063  0.0367    0.02